.Headlogin {
    color: brown;
}

.container_login5 {

    width: 100%;
    height: 100vh;

   background-color: black;
   text-align: center;
   color: white;
  

   
}

.Header_login {
    height: 10%;
    width: 100%;
    background-color: transparent;
    padding: 0% 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.white {
    color: white;
}
.stickyhead{
    border-bottom: 1px solid grey;
    height: 50px;
    margin: 10px;
   display: flex;
   flex-direction: row;
}
.head1{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head2{
    width: 90%;
    text-align: center;
    margin-left: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
}
.balance{
    margin-top: 10px;
    width: 70%;
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
    font-size: 19px;
}
.zero{
    margin-top: 10px;
    width: 30%;
    text-align: right;
    padding-right: 20px;
    font-weight: 600;
    font-size: 19px;
}
.select{
   
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.select1{
   
    text-align: left;
    padding-left: 10px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
} 
.inputbtn{
    width: 90%;
    background-color: 
    #272731;
    height: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridsocial{
    display: flex;
    flex-direction: row;
}
.social{
    width: 50%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    flex-direction: column;
}
.socialimg{
    height: 120px;
    width: 120px;
}