.Headlogin {
    color: brown;
}

.container_login5 {

    width: 100%;
    height: 100vh;

   background-color: black;
   text-align: center;
   color: white;
  

   
}

.Header_login {
    height: 10%;
    width: 100%;
    background-color: transparent;
    padding: 0% 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.white {
    color: white;
}
.stickyhead{
    border-bottom: 1px solid grey;
    height: 50px;
    margin: 10px;
   display: flex;
   flex-direction: row;
}
.head1{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head2{
    width: 90%;
    text-align: center;
    margin-left: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
}
.balance{
    margin-top: 10px;
    width: 70%;
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
    font-size: 19px;
}
.zero{
    margin-top: 10px;
    width: 30%;
    text-align: right;
    padding-right: 20px;
    font-weight: 600;
    font-size: 19px;
}
.select{
   
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.select1{
   
    text-align: left;
    padding-left: 10px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
} 
.inputbtn{
    width: 90%;
    background-color: 
    #272731;
    height: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intb{
    border-bottom: 1px solid grey;
    height: 40px;
    width: 95%;
    display: flex;
    flex-direction: row;
}
.tinp{
    width: 30%;
    text-align: left;
     
}

.inpsec{
    width: 70%;
    text-align: left;
    margin-left: -39px;
    margin-bottom: 15px;
}
.maininput{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: red;
    text-align: left;
}
.maininput:focus{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    
}

.select2{
   
    text-align: left;
    padding-left: 10px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
} 

.btncont{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .dip1{
width: 45%;
background-color: #fb3a47  ;
height: 50px;
margin: 10px;
border-radius: 25px;
display: flex;
align-items: center;
justify-content: center;
color: white;
  margin-top: 40px;
font-size: 16px;
  }
  .with1{
    width: 45%;
    background-color: 
    #272731 ;
    height: 50px;
    margin: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 40px;
    color: white;
font-size: 16px;
      }