.Display_half {

  padding: 0% 25%;
  background-color: #f0f2f5;

}

* {

  margin: 0%;
  box-sizing: border-box;
  padding: 0%;

}
@media only screen and (max-width: 600px) {
  .Display_half {
    padding: 0% 0%;
    background-color: #f0f2f5;
  
  }
  
  * {
  
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
  
  }
}